html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
}

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: color(brand, main);
}

body {
  font-family: $base-font-family;
  text-rendering: optimizeLegibility;
  background-color: $color-base-background;
  color: $color-base-text;

  @if $use-font-smoothing == true {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  &:not(.js) {
    overflow: hidden;

    .no-js\:is-hidden {
      display: none !important;
    }
  }
}

a:focus,
a:active {
  color: color(brand, dark);
}

#__next {
  min-height: 100vh;
  width: 100%;
}

.is-mobile {
  *:hover {
    all: inherit;
  }
}

section .subtitle,
.section-subtitle {
  color: color(brand, main);
  font-size: $fs-5;
  font-weight: 600;
  padding: 5px 20px;
  background: hsla(109, 31%, 56%, 0.1);
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
}

section .title,
.section-title {
  font-family: $base-font-secondary;
  font-weight: 500;

  text-align: var(--text-align, center);
  margin-bottom: var(--margin-bottom, 50px);
}


button, a {
  transition: .25s ease;
}

a, img, span, button, .icon, address {
  display: block;
  width: initial;
}

.icon {
  width: auto;
}
