// Components > Advanced Search
//

.advanced-search {
  margin-bottom: 30px;

  display: flex;
  flex-wrap: wrap;

  gap: 25px;

  .w-24,
  .button-wrapper {
    width: calc(25% - 20px);
  }

  .w-12 {
    width: calc(25% / 2 - 20px);
  }

  .bottom-filters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    gap: 30px;

    padding-top: 15px;
    padding-bottom: 10px;

    .sort {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 12px;

      .icon {
        transition: all var(--transition);
        opacity: 0;
        color: var(--accent);

        transform: rotate(90deg);

        &.asc {
          transform: rotate(0);
          opacity: 1;
        }
        &.desc {
          transform: rotate(180deg);
          opacity: 1;
        }
      }
    }

    .button {
      font-weight: var(--fw-600);
      color: var(--accent);
    }

    .show-more {
      margin-left: auto;

      border-bottom: 2px dashed var(--accent);
    }
  }

  .button-wrapper {
    display: flex;
    align-items: flex-end;

    .button {
      background: var(--accent);
      color: var(--white);
      font-size: var(--fs-5);
      font-weight: var(--fw-700);

      line-height: 1;
      height: 44.7px;

      padding: 12px 18px;

      text-align: center;
      width: 100%;

      border-radius: 8px 0;

      &:is(:hover, :focus) { --accent:  hsl(107, 30%, 40%); }

      &:before {
        content: none;
      }
    }
  }
}
.advanced-search .form-field {
  display: flex;

  flex-direction: column;
  gap: 12px;

  .typography {
    display: block;
  }
}
