// Components > Blog Card
//

.blog-card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-2);
  height: 100%;
  border-radius: 20px 0;

  .blog-title {
    padding: 20px 30px;
    font-size: 1rem;
    --font-weight: var(--fw-600);

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }

    @media (min-width: 992px) {
      font-size: 1.375rem;
    }
  }

  .blog-title:is(:hover, :focus) { color: var(--accent); }

  .read-more {
    color: var(--accent);
    font-size: var(--fs-7);
    font-weight: var(--fw-600);
    text-transform: uppercase;
  }

  .card-banner {
    overflow: hidden;
  }

  .card-banner img {
    object-fit: cover;
    transition: 0.5s ease;
    border-radius: 20px 0;
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    padding: 20px 30px;
    border-top: 1px solid hsla(0, 0%, 0%, 0.1);
    margin-top: auto;
  }

  .publish-date {
    display: flex;
    align-items: center;

    color: var(--cadet);
    font-size: var(--fs-7);
    font-weight: var(--fw-600);
    gap: 8px;
    transition: var(--transition);
  }

  .publish-date .icon { color: var(--accent); }

  &:is(:hover, :focus) .card-banner img { transform: scale(1.1); }

  @media (min-width: 768px) {
    --fs-7: 0.875rem;
  }
}







