// Components > Project Card
//

.project-card {
  position: relative;

  border: 1px solid var(--alice-blue);
  box-shadow: var(--shadow-2);

  &:hover .card-banner img { transform: scale(1.1); }

  .card-banner {
    position: relative;
    aspect-ratio: 2 / 1.5;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to top, hsla(0, 0%, 0%, .95), transparent 30%);
      pointer-events: none;
      z-index: 1;
    }

    img {
      height: 100%;
      object-fit: cover;
      transition: transform .5s ease, opacity .4s ease-in-out;
      opacity: 1;

      &.transition {
        opacity: 0;
      }
    }

    a { height: 100%; }
  }

  .banner-actions {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 15px 10px;
    z-index: 1;

    .tags {
      align-items: flex-start !important;
    }

    .card-badge.style {
      margin-left: auto;
      background: hsl(0, 0, 29%);
    }

    .action-button {
      color: var(--white);
      font-size: var(--fs-6);
      line-height: 1;
      display: flex;
      align-items: flex-end;
      gap: 4px;

      &:is(:hover, :focus) { color: var(--orange-soda); }

      .icon { font-size: 16px; }
    }
  }

  .card-badges {
    display: flex;
    gap: 12px;

    position: absolute;
    top: 15px;
    right: 15px;
  }

  .card-badge {
    background: var(--black);
    color: var(--white);
    font-family: var(--ff-montserrat);
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: .045em;
    padding: 4px 10px;
    border-radius: 8px 0;
    box-shadow: var(--shadow-2);

    &.green { background: var(--yellow-green); }

    &.orange { background: var(--orange-soda); }
  }

  .card-title {
    margin-bottom: 15px;
    font-size: 22px;
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-600);
    color: #414042;

    & > a:is(:hover, :focus) { color: var(--orange-soda); }
  }

  .card-content {
    padding: 30px 15px 15px;

    @media (min-width: 992px) {
      padding-inline: 30px;
    }
  }

  .card-text {
    strong {
      color: #141414;
      font-weight: var(--fw-600);
    }

    font-weight: var(--fw-400);
    color: #bababa;
    font-size: var(--fs-5);
    line-height: 1.8;
    margin-bottom: 8px;
  }

  .table-params {
    width: 100%;
    margin-bottom: 16px;

    & > .box {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 6px 0;

      width: 100%;
      white-space: nowrap;

      .typography:first-child {
        display: inline-block;
        position: relative;
        z-index: 1;
        padding-right: 5px;
        width: 100%;

        &:after {
          content: "";
          position: absolute;
          right: 5px;
          bottom: 0;
          width: 100%;
          left: 0;
          height: 1px;
          z-index: 0;
          border-bottom: 1px dotted #333;
        }
      }
    }
  }

  .card-price {
    color: var(--orange-soda);
    font-family: var(--ff-montserrat);
    font-size: var(--fs-5);
    margin-bottom: 5px;
  }

  .card-info {
    display: flex;
    justify-content: space-between;
  }

  .card-price strong {
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
  }

  .slider-controls {
    display: flex;
    position: absolute;
    width: 100px;
    height: 50px;
    background: #ffffff;
    z-index: 1;
    transform: translateZ(0);
    box-shadow: var(--shadow-1);

    button {
      position: absolute;
      background: #ffffff;
      transition: background .45s;
      z-index: 5;
      width: 50%;
      height: 100%;
      top: 0;

      .b {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 8px;
        height: 2px;
        background: #121212;
        z-index: 2;
        transition: all .3s;

        @media screen and (min-width: 640px) {
          width: 10px;
        }
      }

      &:first-child { left: 0; }
      &:last-child  { right: 0; }

      &:disabled {
        cursor: default;
        pointer-events: none;
      }
      &:not(:disabled):hover {
        background-color: #ebebe5;
      }
    }

    button:disabled .b1,
    button:disabled .b2 {
      transform: rotate(0) scaleX(2) translateX(-30%);
    }

    button.next:disabled .b1,
    button.next:disabled .b2 {
      transform: rotate(0) scaleX(2) translateX(30%);
    }

    button .b1 { transform: rotate(-45deg) }
    button .b2 { transform: rotate(45deg) }

    button.prev .b { transform-origin: 0 50%; left: 2px; }
    button.next .b { transform-origin: 100% 50%; right: 2px; }

    button.next .b1,
    button.prev .b2 {
      top: -1px;
    }

    button.next .b2,
    button.prev .b1 {
      top: 1px;
    }

    button.next:disabled .b1,
    button.prev:disabled .b1 {
      top: 0;
    }

    button.next:disabled .b2,
    button.prev:disabled .b2 {
      top: 0;
    }
  }
}
