// Components > Select
//

.select-box {
  position: relative;
  display: block;
  width: 100%;
  font-size: 18px;
  color: color(black);

  box-shadow: $shadow-2;
  border-radius: 12px 0;

  background-color: color(white);
  transition: 0.2s ease;

  fieldset {
    padding: 0;
  }

  &:focus-within {
    border-radius: 0;
  }

  .current {
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;

    &:focus {
      & + .list {
        opacity: 1;

        animation-name: none;

        .option {
          cursor: pointer;
        }
      }

      .icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }

  .value {
    display: flex;
  }

  input {
    display: none;

    &:checked + .typography {
      display: block;
    }
  }

  .typography {
    display: none;
    font-family: $base-font-secondary;
    width: 100%;
    margin: 0;
    padding: 12px 18px;
  }

  .list {
    z-index: 1000;
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;

    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    border-radius: 15px 0;
    box-shadow: $shadow-2;
  }

  .option {
    display: block;
    padding: 15px;
    font-family: $base-font-secondary;
    background-color: color(white);

    &:hover,
    &:focus,
    &.active {
      color: hsl(109, 31%, 30%);
      background-color: hsl(109, 31%, 90%);
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
