// Header
//

.header {
  position: relative;
  z-index: 2000;
  padding-bottom: 106px;

  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);

  @media (max-width: 1200px) {
    padding-bottom: 0;
  }

  @media (min-width: 1200px) {
    &.active .bottom-header {
      position: fixed;
      bottom: auto;
      top: -101.6px;
      padding-block: 20px;
      box-shadow: 0 10px 50px hsla(109, 31%, 56%, 0.1);
      animation: slideDown 0.25s ease-out forwards;
    }
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition;
    z-index: 4;

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    @media (min-width: 1200px)  {
      display: none;
    }
  }
}

.header .navbar {
  background: color(white);
  position: fixed;
  top: 0;
  left: -310px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);
  z-index: 5;
  padding: 60px 20px;
  visibility: hidden;
  transition: 0.15s ease-in;

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid color(light);
    margin-bottom: 25px;

    .logo .icon {
      width: 200px;
    }

    @media (min-width: 1200px) {
      display: none;
    }
  }

  .close-button .icon {
    font-size: 20px;
    padding: 5px;
  }

  .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;

    @media (max-width: 1200px) {
      align-items: flex-start;
      flex-direction: column;

      gap: 0;

      .icon {
        display: none;
      }
    }

    .list {
      display: none;
      opacity: 0;

      border-radius: 25px 0;
      overflow: hidden;

      box-shadow: 0 16px 32px hsla(188, 63%, 7%, .1);

      transition: all $transition;
      position: absolute;
      top: 48px;
      left: -50%;

      @media (max-width: 1200px) {
        position: initial;
        visibility: visible;
        opacity: 1;
        display: block;
        text-align: left;
        left: 0;
      }

      .navbar-link {
        padding: 12px 24px;
        white-space: nowrap;

        @media (max-width: 1200px) {
          padding: 0;
          padding-block: 15px;
        }
      }

      .list-item {
        clear: both;
        width: 100%;
        text-align: left;
        transition: all $transition;

        @media (max-width: 1200px) {
          margin-bottom: 0;
        }
      }
    }

    &:hover > .list {
      opacity: 1;
      display: block;
      text-align: left;
      background: white;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &:hover {
      color: color(brand, main);

      .icon {
        transform: rotate(-180deg);
      }
    }

    .icon {
      transition: transform .3s linear;
    }
  }

  &.active {
    visibility: visible;
    transform: translateX(310px);
    transition: 0.25s ease-out;
  }

  .navbar-link {
    color: color(dark);
    font-size: .875rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-block: 15px;

    &.active,
    &:is(:hover, :focus) {
      color: color(brand, main);
    }

    @media (min-width: 1200px) {
      color: color(dark);
      font-size: 1.125rem;
      text-transform: capitalize;
    }
  }

  .navbar-list {
    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  @media (min-width: 1200px) {
    &,
    &.active {
      all: unset;
    }
  }
}

.header .search-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  &__input {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

    width: 30px;
    height: 100%;

    border-style: none;
    border-radius: 20px;
    padding: 10px;

    outline: none;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    background-repeat: no-repeat;
    font-size: 15px;
    color: transparent;
    overflow: hidden;

    &:is(:hover, :focus) {
      background-color: color(white);
    }

    &:focus {
      width: 200px;
      cursor: text;
      padding-left: 32px;
      padding-right: 32px;
      color: color(dark);
      box-shadow: 0 16px 32px hsla(188, 63%, 7%, .15);

      & ~ .action-button {
        opacity: 0;
      }

      @media (max-width: 768px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 80px;
        padding: 0 40px;
        transform: none;
        font-weight: 700;
        font-size: 20px;
        border-radius: 0;

        & ~ .action-button {
          opacity: 1;
        }
      }
    }
  }
}

.top-header {
  background: color(dark);
  padding-block: 8px;

  @media (max-width: 768px) {
    padding-block: 15px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 8px 20px;

    @media (max-width: 768px) {
      row-gap: 20px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    margin-left: auto;

    gap: 30px;

    @media (max-width: 992px) {
      margin-left: 0;
      gap: 20px;
    }

    @media (max-width: 768px) {
      gap: 30px;
    }

    @media (max-width: 640px) {
      display: none;
    }
  }

  &__info-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 30px;

    @media (max-width: 992px) {
      gap: 15px;
    }
  }

  .info-link {

    &__icon {
      color: color(brand, main);
      font-size: 15px;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;

      color: color(white);

      &:is(:hover, :focus) {
        color: color(brand, main);
      }

      gap: 10px;
    }

    &__caption {
      font-style: normal;
      line-height: 1.5;

      font-size: $fs-7;
      font-weight: 700;
    }

  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 12px;

    @media (max-width: 768px) {
      gap: 32px;
    }
  }

  .social-link {
    font-size: 1rem;

    @media (max-width: 992px) {
      font-size: 15px;
    }

    &:is(:hover, :focus) {
      .social-link__icon {
        color: color(brand, main);
      }
    }

    &__link {
      color: rgba(255, 255, 255, .65);
    }

    &__icon {
    }

  }

  &__action-button {
    background: color(brand, main);
    color: color(white);
    font-size: .75rem !important;
    font-weight: 700;
    border-radius: 8px 0;
    border: none;
    padding: 6px 16px;

    @media (max-width: 992px) {
      padding: 4px 12px;
    }

    &:is(:hover, :focus) {
      background: color(brand, dark);
    }
  }
}

.bottom-header {
  background: color(white);
  padding-block: 25px;

  .logo {
    margin-inline: auto;
  }

  &__container {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__actions {
    background: color(white);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-block: 15px 10px;
    box-shadow: -2px 0 30px hsla(237, 71%, 52%, 0.2);
    z-index: 3;

    @media (min-width: 768px) {
      all: unset;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .action-button {
    cursor: pointer;

    &__icon {
      color: rgb(26, 26, 26);
      font-size: 20px;
      margin-inline: auto;
      margin-bottom: 5px;
      transition: color $transition;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

      &:is(:hover, :focus) {
        color: color(brand, main);
      }
    }

    &__caption {
      color: color(dark);
      font-family: $base-font-secondary;
      font-size: $fs-7;
      font-weight: 500;

      @media (min-width: 768px) {
        display: none;
      }
    }

    @media (min-width: 768px) {
      background: color(white);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: $shadow-2;

      &:hover {
        box-shadow: $shadow-1;
      }
    }

    @media (min-width: 1200px) {
      &.menu-button {
        display: none;
      }
    }
  }

  @media (min-width: 1200px) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.menu-button .icon {
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(.4, 0, .2, 1),
    stroke-dashoffset 600ms cubic-bezier(.4, 0, .2, 1);
  }

  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  &.is-open {
    .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }

    .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
    }

    .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

