.root {
  padding-inline: 15px;

  @media (min-width: 600px) {
    max-width: 550px;
    margin-inline: auto;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 970px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }

  @media (min-width: 1920px) {
    max-width: 80%;
  }
}
