.link {
  display: flex;
  align-items: flex-start;

  position: relative;

  gap: 10px;

  padding-left: 2em;

  @media (max-width: 992px) {
    width: auto;
    display: inline-flex;

    padding-left: 0;
  }

  svg {
    position: absolute;

    display: block;
    outline: none;

    font-size: 18px;
    left: 0;

    @media (max-width: 992px) {
      position: initial;
      margin-right: 12px;
    }
  }
}


.caption {
  display: block;

  @media (max-width: 992px) {
    width: auto;
  }
}
