.root {
  path {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(.4, 0, .2, 1),
    stroke-dashoffset 600ms cubic-bezier(.4, 0, .2, 1);
  }

  path:nth-child(1) {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  path:nth-child(2) {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  path:nth-child(3) {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
}

.isOpen {
  path:nth-child(1) {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  path:nth-child(2) {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }

  path:nth-child(3) {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}


