.root {
  background: var(--color-light);
  padding-block: 60px;

  display: flex;
  align-items: center;

  height: calc(100vh - 147.8px);

  @media (max-width: 992px) {
    height: initial;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;

  border-radius: 25px 0;
  overflow: hidden;
}

.mapWrapper,
.wrapper {
  overflow: hidden;
  width: 50%;

  @media (max-width: 992px) {
    width: 100%;

    &:first-child {
      order: 1;
    }
  }

  h2,
  h3 {
  }

  h2 {
    display: block;
    font-size: 1.5rem;
    color: var(--color-white);
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  h3 {
    display: block;
    font-size: 1.125rem;
    color: var(--color-white);
    font-weight: 400;
    padding-top: 1.5em;
    margin-bottom: 0.75em;
  }

  p {
    padding-top: 1em;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    opacity: .7;
    text-indent: calc(12px + 14px);

    &:not(:last-child) {
      margin-bottom: -12px;
    }
  }
}

.mapWrapper {
  border-top-left-radius: 25px;
}

.wrapper {
  color: var(--color-white);
  background: rgba(33, 33, 33, .9);

  border-bottom-right-radius: 25px;

  padding: 32px;

  @media (max-width: 992px) {
    padding: 64px 48px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  li {
    display: flex;
    font-size: 14px;
    gap: 12px;

    cursor: pointer;

    transition: opacity var(--transition);
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }
}
