.root {
  grid-row: 1;

  background-color: var(--color-primary--opacity);

  &,
  h3 {
    color: var(--color-primary--dark);
  }

  border-radius: 25px 0;

  text-align: center;
  padding: 14px 0;


  position: sticky;
  top: 96px;
  left: 0;
  z-index: 501;
}
