// Pages > Contacts Page
//

section.contacts {
  background: color(light);
  padding-block: 60px;

  display: flex;
  align-items: center;

  height: calc(100vh - 150.09px);

  @media (max-width: 992px) {
    height: initial;
  }
  .row {
    display: flex;
    flex-wrap: wrap;

    border-radius: 25px 0;
    overflow: hidden;
  }

  .col {
    width: 50%;

    @media (max-width: 992px) {
      width: 100%;

      &:first-child {
        order: 1;
      }
    }

    h2 {
      font-size: $fs-2;
      color: color(white);
      font-weight: 700;
    }

    p {
      padding-top: 1em;
      padding-bottom: 1.5em;
      line-height: 1.5;
    }

    &.right {
      color: color(white);
      background: rgba(33, 33, 33, .9);

      padding: 32px;

      @media (max-width: 992px) {
        padding: 64px 48px;
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .list-item {
        display: flex;
        gap: 12px;
      }
    }
  }

  .form-wrapper {
    padding-top: 50px;

    form {
      margin: 0 auto;
      width: 50%;

      .field {
        margin-bottom: 15px;

        .typography {
          display: flex;
          font-weight: 700;

          i {
            color: color(orange);
          }
        }
      }

      textarea {
        width: 100% !important;
        min-height: 64px;
        resize: vertical;
      }

      textarea,
      input {
        width: 100%;
        padding: 10px 0;
        background: none;
        border: none;
        border-bottom: 1px solid color(dark-green);
        color: color(dark);
        font-size: 14px;
        text-transform: uppercase;
        outline: none;
        transition: all .2s;

        &::placeholder {
          transition: all .1s;
          color: rgba(33, 33, 33, .5);
        }

        &:focus {
          border-bottom-color: color(brand, main);

          &::placeholder {
            color: color(brand, main);
          }
        }
      }
    }

    .button {
      margin: 45px auto 0;
    }
  }
}
