// Pages > Gallery Page
//

section.gallery {
  background: var(--cultured-2);
  padding-block: var(--section-padding);

  .title {
    font-weight: var(--fw-700);
  }

  .gallery-container {
    column-count: 3;
    column-gap: 10px;

    img {
      max-width: 100%;
      display: block;
    }

    .gallery-item {
      cursor: pointer;

      display: grid;
      grid-template-rows: 1fr auto;
      margin: 0 0 10px;
      break-inside: avoid;

      position: relative;
      z-index: 1;
      width: 100%;
      padding-bottom: 235px;
      perspective: 1000px;


      &:hover {
        .cover {
          transform: rotateX(7deg) translateY(-6px);

          &::after {
            transform: translateY(0);
          }
        }

        figcaption {
          opacity: 0;
          transform: translate(-50%, -50%) rotateX(7deg) translateY(-6px);

          &::after {
            transform: translate(-50%, -50%) translateY(0);
          }
        }
      }

      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: calc(235px * .9);
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
        will-change: opacity;
        transform-origin: top center;
        transform: skewX(.001deg);
        transition: transform .35s ease-in-out, opacity .5s ease-in-out;
      }

      &:hover::before {
        opacity: 0.6;
        transform: rotateX(7deg) translateY(-6px) scale(1.05);
      }

      .cover {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(235px * 1);
        overflow: hidden;
        perspective-origin: 50% 50%;
        transform-style: preserve-3d;
        transform-origin: top center;
        will-change: transform;
        transform: skewX(.001deg);
        transition: transform .35s ease-in-out;

        background-size: cover;

        &::after {
          display: block;
          content: '';
          position: absolute;
          z-index: 100;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(235px * 1.3);
          background: linear-gradient(226deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 35%, rgba(255,255,255,0.2) 42%, rgba(255,255,255,0) 60%);
          transform: translateY(-20%);
          will-change: transform;
          transition: transform .65s cubic-bezier(0.18, 0.9, 0.58, 1);
        }
      }

      figcaption {
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skewX(.001deg);
        align-items: center;
        justify-content: center;
        display: flex;

        background: rgba(255, 255, 255, .75);
        color: var(--black);
        padding: .25rem .5rem ;

        border-radius: 10px 0;

        font-size: var(--fs-3);
        font-weight: var(--fw-700);
        perspective-origin: 50% 50%;
        transform-style: preserve-3d;
        transform-origin: top center;
        will-change: transform;
        transition: all .35s ease-in-out;
        opacity: 0;
      }
    }

    .gallery-item > img {
      grid-row: 1 / -1;
      grid-column: 1;
    }

    .gallery-item a {
      color: black;
      text-decoration: none;
    }
  }
}

