// Home Page

$section-padding: 60px;

section#hero {
  background-image: url("/images/pages/home/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: calc(100vh - 150.09px);

  @media (max-width: 992px) {
    height: calc(100vh - 178.4px);
  }

  @media (max-width: 768px) {
    height: calc(100vh - 198.1px - 71.8px);
  }

  @media (max-width: 640px) {
    height: calc(100vh - 187px - 71.8px);
  }

  .container {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 640px) {
      display: flex;
    }
  }

  .wrapper {
    padding-block: $section-padding;

    background: rgba(0, 0, 0, .5);
    border-radius: 25px 0;
    padding: 32px 32px 32px 48px;

    @media (min-width: 768px) {
      max-width: 400px;
    }

    @media (min-width: 992px) {
      max-width: 525px;
      margin-bottom: 0;
    }

    @media (min-width: 1920px) {
      max-width: 100%;
      min-height: 25%;
    }

    @media (max-width: 992px) {
      padding: 24px 24px 24px 32px;
    }

    @media (max-width: 768px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .hero-title {
    color: color(white);
    font-size: 2rem;
    font-weight: 700;
    font-family: $base-font-secondary;
    margin-bottom: 20px;
    line-height: 1.2;

    @media (max-width: 992px) {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .hero-subtitle {
    color: color(white);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 20px;

    @media (max-width: 992px) {
      display: none;
    }

    .icon {
      color: color(white);
      margin-top: -1px;
    }

    span {
      color: color(white);
      font-size: $fs-5;
      font-weight: 500;
      font-family: $base-font-secondary;
    }
  }

  .hero-text {
    color: white;
    font-size: $fs-5;
    font-family: $base-font-secondary;
    font-weight: 500;
    line-height: 1.8;
    border-left: 1px solid;
    margin-bottom: 30px;

    background: rgba(0, 0, 0, .25);
    padding: 10px 0 10px 12px;
    border-radius: 0 8px 8px 0;

    @media (min-width: 1200px) {
      padding-left: 15px;
      max-width: 450px;
      margin-bottom: 40px;
    }

    @media (max-width: 992px) {
      font-size: $fs-6;
      line-height: 1.5;
      margin-bottom: 24px;
    }
  }

  .button {
    box-shadow: $shadow-2;

    background: rgba(0, 0, 0, .5);
    border-color: color(dark);

    @media (max-width: 768px) {
      margin-left: auto;
    }
  }
}

section#our-projects {
  padding-block: $section-padding;

  @media (min-width: 600px) {
    .container:not(.important) {
      max-width: unset;
      padding-inline: 25px;
    }
  }

  .title {
    @media (max-width: 992px) {
      --margin-bottom: 24px;
    }
  }
}

section#gallery {
  position: relative;
  padding-block: $section-padding;

  @media (max-width: 992px) {
    padding-block: 0;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;

    padding-top: 30px;
  }

  .carousel img {
    object-fit: cover;
  }

  .carousel .carousel-container > .box {
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

section#about-us {
  padding-block: $section-padding;
  section .subtitle,
  .section-subtitle {
    color: color(brand, main);
    font-size: $fs-5;
    font-weight: 600;
    padding: 5px 20px;
    background: hsla(109, 31%, 56%, 0.1);
    width: max-content;
    border-radius: 50px;
    margin-inline: auto;
    margin-bottom: 15px;
  }

  section .title,
  .section-title {
    font-family: $base-font-secondary;
    font-weight: 500;

    text-align: var(--text-align, center);
    margin-bottom: var(--margin-bottom, 50px);
  }
  .container {
    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 60px;
    }
  }

  .about-banner {
    position: relative;
    margin-bottom: 40px;

    & > img {
      max-width: max-content;
      width: 100%;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  .title {
    --margin-bottom: 15px;

    @media (min-width: 768px) {
      --text-align: left;

      max-width: 30ch;
    }
  }
  .subtitle {
    @media (min-width: 768px) {
      margin-inline: 0;
    }
  }

  .about-text {
    color: color(secondary);
    font-size: $fs-5;
    line-height: 1.7;
    margin-bottom: 30px;
    text-align: justify;

    @media (min-width: 768px) {
      text-align: left;
      max-width: 55ch;
    }
  }

  .about-list {
    margin-bottom: 30px;

    display: flex;
    flex-wrap: wrap;

    column-gap: 20px;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .about-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      margin-left: auto;
      margin-right: auto;
      width: 250px;
    }

    .icon-wrapper {
      background: color(light);
      height: 45px;
      min-width: 45px;
      border-radius: 50%;
      display: grid;
      place-items: center;

      @media (max-width: 768px) {
        height: 64px;
        min-width: 64px;
      }

      .icon {
        color: color(brand, main);
        font-size: 18px;

        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
    }

    .typography {
      color: color(secondary);
      font-size: $fs-5;

      @media (max-width: 768px) {
        font-size: $fs-4;
      }
    }
  }

  .tagline {
    background: hsla(109, 31%, 56%, 0.05);
    color: color(secondary);
    font-size: $fs-5;
    font-weight: 500;
    line-height: 1.8;
    padding: 20px 25px;
    border-left: 4px solid color(brand, main);
    margin-bottom: 40px;
  }

  .button {
    max-width: max-content;


    @media (max-width: 992px) {
      margin-left: auto;
    }
  }
}

section#turnkey {
  background: color(light);
  padding-block: $section-padding;

  .service-card {
    width: 100%;
    height: 100%;
    position: relative;
    background: color(white);
    text-align: center;
    padding: 40px 30px;
    box-shadow: $shadow-2;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 4px;
      background: color(brand, main);
      transition: all $transition;
    }

    .card-title {
      margin-bottom: 15px;

      & > a:is(:hover, :focus) {
        color: color(brand, main);
      }
    }

    .card-text {
      color: color(secondary);
      font-size: $fs-5;
      line-height: 1.8;
      margin-bottom: 25px;
    }

    .card-link {
      color: color(secondary);
      margin-top: auto;
      font-size: $fs-5;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    .icon-wrapper {
      width: max-content;
      margin-inline: auto;
      margin-bottom: 20px;
      color: color(brand, main);
    }

    &:is(:hover, :focus) {
      &::after {
        width: 100%;
      }

      .card-link {
        color: color(brand, main);
      }
    }
  }

  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    .list-item {
      width: calc(100% / 3 - 20px);

      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
}

section#offer {
  padding-block: $section-padding;

  .row {
    display: flex;
    margin-inline: auto;
    padding-inline: 15px;

    @media (min-width: 1768px) {
      max-width: 80%;
    }

    @media (max-width: 768px) {
      align-items: center;
      gap: 24px;
      justify-content: center;
      width: 100%;
      flex-direction: column;
    }
  }

  .col {
    width: 50%;
    padding-inline: 25px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .h3 {
    font-size: $fs-2;

    margin-bottom: 16px;
  }

  .h4 {
    font-size: $fs-5;
  }

  .description {
    font-size: $fs-4;

    margin-bottom: 24px;
  }

  .map {
    position: relative;
    overflow: hidden;

    box-shadow: $shadow-2;

    border-radius: 50px 0;

    iframe {
      min-height: 400px;
      height: 100%;
      width: 100%;

      position: relative;
    }
  }

  form {
    .field {
      margin-bottom: 15px;

      .typography {
        display: flex;
        font-weight: 700;

        i {
          color: color(orange-soda);
        }
      }
    }

    input {
      width: 100%;
      padding: 10px 0;
      background: none;
      border: none;
      border-bottom: 1px solid color(dark);
      color: color(dark);
      font-size: 14px;
      outline: none;
      transition: all .2s;

      &::placeholder {
        transition: all .1s;
        color: rgba(33, 33, 33, .5);
      }

      &:focus {
        border-bottom-color: color(brand, main);

        &::placeholder {
          color: color(brand, main);
        }
      }
    }
  }

  .button {
    margin-bottom: 24px;
  }

  small {
    color: color(secondary);
    opacity: .75;
    transition: all 300ms ease-in-out;

    &:hover {
      opacity: 1;

      a {
        text-decoration: underline;
      }
    }

    a {
      transition: all 300ms ease-in-out;
      color: color(brand, main);
    }
  }
}

section#blog {
  padding-block: $section-padding;
  background: color(light);

  .blog-card {
    display: flex;
    flex-direction: column;
    box-shadow: $shadow-2;
    height: 100%;
    border-radius: 20px 0;

    .blog-title {
      padding: 20px 30px;
      font-size: 1.375rem;
      font-family: $base-font-secondary;
      font-weight: 500;

      @media (min-width: 768px) {
        font-size: 1.25rem;
      }

      @media (min-width: 992px) {
        font-size: 1.375rem;
      }
    }

    .blog-title:is(:hover, :focus) {
      color: color(brand, main);
    }

    .read-more {
      color: color(brand, main);
      font-size: .875rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    .card-banner {
      overflow: hidden;
      border-radius: 20px 0;

      img {
        transition: 0.5s ease;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      padding: 20px 30px;
      border-top: 1px solid hsla(0, 0%, 0%, 0.1);
      margin-top: auto;
    }

    .publish-date {
      display: flex;
      align-items: center;

      color: color(secondary);
      font-size: 0.875rem;
      font-weight: 500;
      gap: 8px;
      transition: all $transition;
    }

    .publish-date .icon {
      color: color(brand, main);
    }

    &:is(:hover, :focus) .card-banner img {
      transform: scale(1.1);
    }
  }

  .blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .list-item {
      width: calc(100% / 3 - 15px);

      @media (max-width: 992px) {
        max-width: 400px;
        width: 100%;

        margin: 0 auto;
      }
    }
  }
}

section#cta {
  background: linear-gradient(to bottom, color(light) 50%, color(dark) 50%);

  .cta-card {
    background: color(brand, main);
    padding: 50px 25px;
    box-shadow: $shadow-2;

    border-radius: 25px 0;

    .card-title {
      color: color(white);
      line-height: 1.3;
      font-size: 1.875rem;
      font-weight: 700;
      margin-bottom: 15px;

      @media (max-width: 768px) {
        font-size: 1.75rem;
      }
    }

    .card-content {
      max-width: max-content;
      margin-inline: auto;
      margin-bottom: 30px;
      text-align: center;

      @media (min-width: 992px) {
        text-align: left;
        margin: 0;
      }
    }

    .card-text {
      color: color(white);
      font-size: 1rem;
      line-height: 1.8;

      @media (max-width: 768px) {
        font-size: .875rem;
      }
    }

    .cta-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      color: color(black);
      background: color(white);
      box-shadow: $shadow-2;
      border-color: color(white);
      margin-inline: auto;

      &::before { background: color(black) !important; }

      &:is(:hover, :focus) {
        background: none !important;
        color: color(white) !important;
        border-color: transparent !important;
      }

      @media (min-width: 992px) {
        margin: 0;
      }
    }

    @media (min-width: 1200px) {
      padding-inline: 60px;
    }

    @media (min-width: 992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px 48px;
    }
  }
}
