// Pages > Home Page
//

// Hero Section

section.hero {
  background-image: url("/images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 992px) {
    height: calc(100vh - 150.09px);
  }

  .container {
    height: 100%;

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  .wrapper {
    padding-block: var(--section-padding);

    background: rgba(0, 0, 0, .5);
    border-radius: 25px 0;
    padding: 32px 32px 32px 48px;

    @media (min-width: 768px) {
      max-width: 400px;
    }

    @media (min-width: 992px) {
      max-width: 525px;
      margin-bottom: 0;
    }
  }

  .hero-title {
    color: var(--white);
    font-size: 2rem;
    font-weight: var(--fw-700);
    font-family: var(--ff-montserrat);
    margin-bottom: 20px;
    line-height: 1.2;
  }

  .hero-subtitle {
    color: var(--white);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 20px;

    .icon {
      color: var(--white);
      margin-top: -1px;
    }

    span {
      color: var(--white);
      font-size: var(--fs-5);
      font-weight: var(--fw-500);
      font-family: var(--ff-montserrat);
    }
  }

  .hero-text {
    color: white;
    font-size: var(--fs-5);
    font-family: var(--ff-montserrat);
    line-height: 1.8;
    border-left: 1px solid;
    margin-bottom: 30px;

    background: rgba(0, 0, 0, .25);
    padding: 10px 0 10px 12px;
    border-radius: 0 8px 8px 0;

    @media (min-width: 1200px) {
      padding-left: 15px;
      max-width: 450px;
      margin-bottom: 40px;
    }
  }

  .button {
    box-shadow: var(--shadow-2);

    background: rgba(0, 0, 0, .5);
    border-color: var(--dark);
  }
}

// Our Projects Section

section.our-projects {
  padding-block: var(--section-padding);

  @media (min-width: 600px) {
    .container:not(.important) {
      max-width: unset;
      padding-inline: 25px;
    }
  }
}

// Slider Gallery

section.slider-gallery {
  position: relative;
  padding-block: var(--section-padding);

  .button-wrapper {
    display: flex;
    justify-content: center;

    padding-top: 30px;
  }

  // temp

  .carousel {
    position: relative;
    overflow: hidden;
    height: 400px;
    border-radius: 25px;

    .carousel-container {
      height:      100%;
      white-space: nowrap;
      font-size:   0;
      transition:  0.8s;

      & > .box {
        display: inline-block;
        height:  100%;
        width: 50%;

        padding: 0 10px;

        & > img {
          margin: 0 auto;
          height:  100%;
          width:   100%;
          border-radius: 25px 0;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .controls {
      position: absolute;
      z-index:  1;
      top:      50%;
      width:    100%;
      height:   0;

      & > div + div {
        visibility: hidden;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        left: 25px;

        background:  #fff;
        position:    absolute;
        width:       40px;
        height:      40px;
        line-height: 40px;
        text-align:  center;
        opacity:     0.7;
        text-decoration:   none;
        transform: translateY( -50% );
        box-shadow: var(--shadow-2);
        cursor: pointer;

        border-radius: 50%;

        & + button {
          left: auto;
          right: 25px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// Offer Section

section.offer {
  padding-block: var(--section-padding);

  .row {
    display: flex;
  }

  .col {
    width: 50%;
    padding-inline: 25px;

    &:nth-child(0) {
      max-width: 610px;
      padding: 60px 20px 0 10px;
      float: right;
    }
  }

  .h3 {
    font-size: var(--fs-2);

    margin-bottom: 16px;
  }

  .h4 {
    font-size: var(--fs-5);
  }

  .description {
    font-size: var(--fs-4);

    margin-bottom: 24px;
  }

  .map {
    position: relative;
    overflow: hidden;

    box-shadow: var(--shadow-2);

    border-radius: 50px 0;

    iframe {
      min-height: 400px;
      height: 100%;
      width: 100%;

      position: relative;
    }
  }

  form {
    .field {
      margin-bottom: 15px;

      .typography {
        display: flex;
        font-weight: var(--fw-700);

        i {
          color: var(--orange-soda);
        }
      }
    }

    input {
      width: 100%;
      padding: 10px 0;
      background: none;
      border: none;
      border-bottom: 1px solid var(--dark-jungle-green);
      color: var(--dark);
      font-size: 14px;
      text-transform: uppercase;
      outline: none;
      transition: all .2s;

      &::placeholder {
        transition: all .1s;
        color: rgba(33, 33, 33, .5);
      }

      &:focus {
        border-bottom-color: var(--accent);

        &::placeholder {
          color: var(--accent);
        }
      }
    }
  }

  .button {
    margin-bottom: 24px;
  }

  small {
    color: var(--cadet);
    opacity: .75;
    transition: all 300ms ease-in-out;

    &:hover {
      opacity: 1;

      a {
        text-decoration: underline;
      }
    }

    a {
      transition: all 300ms ease-in-out;
      color: var(--accent);
    }
  }
}

// TurnKey Section

section.turnkey {
  background: var(--cultured-2);
  padding-block: var(--section-padding);

  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @media (min-width: 600px) {
      & > .list-item {
        width: calc(50% - 15px);
      }
    }

    @media (min-width: 992px) {
      & > .list-item {
        width: calc(33.33% - 20px);
      }
    }
  }
}

// About Section

section.about {
  padding-block: var(--section-padding);

  .container {
    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 60px;
    }
  }

  .about-banner {
    position: relative;
    margin-bottom: 40px;

    & > img {
      max-width: max-content;
      width: 100%;
    }

    @media (min-width: 992px) {
      margin-bottom: 0;

      & > img {
        width: 100%;
      }
    }
  }

  .title {
    --text-align: left;
    --margin-bottom: 15px;

    @media (min-width: 768px) {
      max-width: 30ch;
    }
  }
  .subtitle { margin-inline: 0; }

  .about-text {
    color: var(--cadet);
    font-size: var(--fs-5);
    line-height: 1.7;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      max-width: 55ch
    }
  }

  .about-list {
    margin-bottom: 30px;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .about-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;

    .icon-wrapper {
      background: var(--cultured-2);
      height: 45px;
      min-width: 45px;
      border-radius: 50%;
      display: grid;
      place-items: center;

      .icon {
        color: var(--accent);
        font-size: 18px;
      }
    }

    .typography {
      color: var(--cadet);
      font-size: var(--fs-5);
    }
  }

  .callout {
    background: hsla(109, 31%, 56%, 0.05);
    color: var(--cadet);
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    line-height: 1.8;
    padding: 20px 25px;
    border-left: 4px solid var(--accent);
    margin-bottom: 40px;
  }

  .button {
    max-width: max-content;
    --text-transform: uppercase;
  }
}

// Blog Section

section.blog {
  padding-block: var(--section-padding);
  background: var(--cultured-2);

  .blog-list {
    display: flex;
    gap: 20px;

    .list-item {
      width: 33%;
    }
  }
}

// CTA Section

section.cta {
  background: linear-gradient(to bottom, var(--cultured-2) 50%, var(--dark) 50%);
}

.cta-card {
  background: var(--accent);
  padding: 50px 25px;
  box-shadow: var(--shadow-2);

  border-radius: 25px 0;
}

.cta-card .card-content {
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.cta-card .card-title {
  color: var(--white);
  line-height: 1.3;
  margin-bottom: 15px;
}

.cta-card .card-text {
  color: var(--white);
  font-size: var(--fs-5);
  line-height: 1.8;
}

.cta-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black) !important;
  background: var(--white) !important;
  box-shadow: var(--shadow-2);
  border-color: var(--white);
  margin-inline: auto;
}

.cta-btn:is(:hover, :focus) {
  background: none !important;
  color: var(--white) !important;
  border-color: transparent !important;
}

.cta-btn::before { background: var(--black) !important; }


@media (min-width: 600px) {
  .cta-card {
    --fs-2: 1.5rem;
  }
}

@media (min-width: 768px) {
  .cta-card {
    --fs-2: 1.625rem;
  }
}

@media (min-width: 992px) {
  .cta-card {
    --fs-2: 1.875rem;
    --fs-5: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .cta-card :is(.card-content, .cta-btn) {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .cta-card {
    --fs-2: 2.25rem;
    padding-inline: 60px;
  }
}
