// Pages > Projects Page
//

section.projects {
  padding-block: 60px;

  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;

    .item {
      width: calc(100% / 3 - 30px / 3 * (3 - 1));

      @media (max-width: 992px) {
        width: calc(100% / 2 - 30px / 2);
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

// Pages > Project Page
//

section.project-promo {
  position: relative;
  padding-block: 60px;
  height: calc(100vh - 150.09px);
  width: 100%;

  & > .container {
    height: 100%;

    & > .wrapper {
      height: 100%;
    }
  }

  .wrapper {
    display: flex;
    padding-top: 10px;

    & > .box:first-child {
      width: calc(100% / 3 * 2);

      padding-right: 20px;
    }
    & > .box:last-child {
      padding-left: 20px;
      width: calc(100% / 3);
    }
  }

  .image-wrapper {
    width: 100%;
    height: 100%;

    position: relative;
    padding-bottom: 56.2%;

    cursor: pointer;

    .slider-container .controls button {

      background: color(brand, main);

      & > .icon {
        color: white;
      }
    }

    .slider-container {
      height: 480px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 14px;

      img {
        border-radius: 25px 0;
        overflow: hidden;
      }
    }

    .slider-container .slider > .box {
      background-color: white;
      & > figure {
        cursor: pointer;
        perspective: 1000px;

        figcaption {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) skewX(0.001deg);
          align-items: center;
          justify-content: center;
          display: flex;
          background: rgba(255, 255, 255, 0.75);
          color: color(black);
          padding: 0.25rem 0.5rem;
          border-radius: 10px 0;
          font-size: $fs-3;
          font-weight: 700;
          perspective-origin: 50% 50%;
          transform-style: preserve-3d;
          transform-origin: top center;
          will-change: transform;
          transition: all 0.35s ease-in-out;
          opacity: 0;
        }

        .cover {
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      & > img,
      & > figure {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .project-info {
    .project-info-header {
      display: flex;
      justify-content: space-between;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
    }
    h3 {
      color: color(orange);
      margin-bottom: 24px;
    }

    & > .box {
      &.row {
        display: flex;

        & > .box {
          flex: 1 1 0;

          .label {
            font-size: 1rem;
          }

          .desc {
            padding-top: 8px;
            gap: 8px;
            display: flex;
            align-items: flex-end;
            font-size: $fs-6;

            .icon {
              font-size: 1.125rem;
            }
          }
        }
      }

      .label {
        font-size: 1.125rem;
      }

      .desc {
        padding-top: 8px;
        display: flex;
        align-items: flex-end;
        gap: 12px;
        font-size: 1rem;

        .icon {
          font-size: 20px;
          color: color(brand, main);
        }
      }

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}

section.plans {
  padding-top: 60px;

  & > .container {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 24px;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 14px;
  }

  .gallery-item {
    cursor: pointer;
  }

  &.one-storey {

  }
  &.two-storey {
    .plan {
      width: 50%;
    }

    .facade {
      min-height: 250px !important;
      height: 250px !important;
      width: 25%;
    }
  }

  & > .container {
    display: flex;
    flex-wrap: wrap;

    & > figure {
      position: relative;
      min-height: 450px;
      height: auto;

      img {
        position: absolute;

        object-fit: contain;

        height: 100%;
        width: 100%;
      }
    }
  }
}

section.project-info {
  background: #f8f8f8;
  padding-block: 60px;
  padding-block-start: 20px;
  padding-block-end: 0;

  .tabs {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .tab {
    display: flex;
    align-items: center;
    gap: 12px;

    cursor: pointer;

    color: color(brand, main);
    padding: 24px 32px;
    background: hsla(109deg, 31%, 56%, 0.1);
    border-radius: 25px 0;

    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
    border: 1px solid transparent;

    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

    transition: $transition;

    .icon {
      font-size: 1.5rem;
    }

    &.active {
      cursor: default;
    }

    &:hover {
      box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0;
    }

    &.active {
      box-shadow: none;
      border: 1px solid rgba(85, 133, 71, .25);
    }
  }
}

section.project-packages {
  padding-block: 60px;
  padding-block-start: 30px;

  h2 {
    font-size: 1.75rem;
    font-weight: 700;
  }

  .project-packages-grid {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-auto-rows: auto;
    grid-gap: 16px;
  }
}

section.project-about {
  padding-block: 60px;
}

section.project-gallery {
  background-color: white !important;

  h3 {
    display: block;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    text-align: left;
    color: #414042;
  }

  .gallery-container {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    overflow-x: auto;
    margin-inline: -15px;
    padding-inline: 15px;
    scroll-padding-left: 15px;
    padding-bottom: 60px;
    scroll-snap-type: inline mandatory;

    .gallery-item {
      width: calc(100% / 3);
    }
  }
}
