// Pages > Projects Page
//

section.projects {
  background: var(--cultured-2);
  padding-block: var(--section-padding);

  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;

    .item {
      width: calc(33.33% - 20px);
    }
  }
}

