// Pages > Project Page
//

section.project-promo {
  background: var(--cultured-2);
  padding-block: 30px ;

  height: calc(100vh - 150.09px);

  & > .container {
    display: flex;
    flex-wrap: wrap;
  }

  .title {
    width: 100%;
  }

  .sidebar {
    width: 25%;

    .list-item:not(.price) {
      position: relative;

      margin-bottom: 25px;

      font-size: 1rem;
      line-height: 1.25rem;

      padding-left: 125px;

      strong {
        position: absolute;
        left: 0;
        font-size: 1.125rem;
      }
    }

    .price {
      margin-bottom: 24px;

      font-size: 1.25rem;
      line-height: 1.5rem;

      .typography {
        padding-top: 18px;
        font-weight: var(--fw-700);

        color: var(--orange-soda);

        font-size: 1.5rem;
      }
    }
  }

  .slider-wrapper {
    width: 75%;

    .slider-container {
      height: calc(50vh);
    }
  }
}

section.project-info {
  padding-block: 60px;
  padding-block-end: 0;

  .tabs {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .tab {
    display: flex;
    gap: 12px;

    cursor: pointer;

    color: var(--accent);
    padding: 12px 18px;
    background: hsla(109deg, 31%, 56%, 0.1);
    border-radius: 5px 0;

    font-size: 1rem;
    font-weight: var(--fw-600);

    box-shadow: var(--shadow-2);

    transition: var(--transition);

    &:hover {
      box-shadow: var(--shadow-1);
    }
  }
}

section.project-packages {
  padding-block: var(--section-padding);

  .project-packages-grid {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-auto-rows: auto;
    grid-gap: 16px;
  }
}
