.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(180, 3%, 100%);
  border-radius: 0.25em;
  padding: 0.5625rem;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12);
  color: hsl(204, 28%, 7%);
  text-decoration: none;
  font-size: 1.25rem;
  transition: all var(--transition);
  cursor: pointer;

  &:hover {
    background-color: hsl(210, 4%, 100%);
    box-shadow: inset 0 1px 0.5px hsla(0, 0%, 100%, 0.075), 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05),0 3.5px 6px rgba(0, 0, 0, 0.1);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  svg {
    color: var(--color-primary);
  }
}
