// Base > Typography
//

h1, .h1,
h2, .h2,
h3, .h3 {
  color: color(black);
  font-family: $base-font-family;
}

h1, .h1 {
  font-size: $fs-1;
  line-height: 1;
}

h2, .h2 {
  font-size: $fs-2;
  line-height: 1.25;
}

h3, .h3 {
  font-size: $fs-4;
  line-height: 1.3;

  font-weight: 600;

  & > a {
    color: inherit;
  }
}
