.root {
  max-width: 300px;

  @media (max-width: 992px) {
    max-width: 100%;
  }

  a {
    margin-bottom: 15px;
  }

  p {
    font-size: .875rem;
    line-height: 1.8;
    margin-bottom: 30px;
    max-width: 45ch;

    @media (max-width: 992px) {
      max-width: 100%;
    }
  }
}
