// Utils > Helpers
//

.has-scrollbar {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-left: 15px;
  padding-bottom: 60px;
  scroll-snap-type: inline mandatory;

  & > .list-item {
    min-width: 100%;
    scroll-snap-align: start;
  }

  &::-webkit-scrollbar-track {
    outline: 1.5px solid var(--accent);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(121, 178, 108, .75);
    border: 2px solid var(--cultured-1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-button {
    width: 15%;
  }

  @media (min-width: 600px) {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;

    & > .list-item {
      min-width: calc(50% - 12.5px);
    }
  }

  @media (min-width: 1200px) {
    & > .list-item {
      min-width: calc(33.33% - 16.66px);
    }
  }
}
