@mixin clearfix {
  & {
    *zoom: 1;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin hide-text {
  position: relative;
  text-indent: -99999px;
  display: inline-block;
}

@mixin m-auto() {
  margin-left: auto;
  margin-right: auto;
}
