//
// Base Options
// All global options are boolean type - true or false
//

// Use Font Smoothing
$use-font-smoothing: true;

// Generate Colour Classes
$use-color-classes: true;

// Turn on the HTML Validator
$use-html-validator: true;

// Turn on Sass Debugger
$use-sass-debugger: false;

//
// Helper Styles
//

// Include Visibility Styles
$use-helper-visibility-styles: true;

// Include Position Styles
$use-helper-position-styles: true;

// Include Text Styles
$use-helper-text-styles: true;

// Include Padding Styles
$use-helper-padding-styles: true;

// Include Margin Styles
$use-helper-margin-styles: true;

// Include float Styles
$use-helper-float-styles: true;

//use font-variant-ligatures style
$use-font-variant-ligatures: true;

// Use clearfix class
$use-helper-clearfix-class: true;

// Use Images positions classes
$use-image-position-classes: true;
