//
// Global Properties
// Other variables can be set defaults for here;
//

$text-shadow: 0 1px 1px rgba(0, 0, 0, .3); // Default text-shadow

$shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, .1);
$shadow-2: 0 16px 32px hsla(188, 63%, 7%, .1);

$base-border-radius: 50%; // default border-radius

$base-spacing-unit: 20px;
