.root {
  overflow-x: auto;
  white-space: nowrap;

  li {
    display: inline-block;
    font-size: .75rem;
    vertical-align: top;
  }

  li > a {
    color: #999;
    text-decoration: underline;

    &:is(:focus, :hover) {
      color: var(--color-primary);
    }
  }

  li > span {
    color: #777;
  }

  li > a,
  li > span {
    display: inline-block;
    vertical-align: top;
  }

  li:not(:last-child):after {
    content: "/";
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
}
