.root {
  background: var(--color-dark);
  color: var(--color-white);

  padding-top: 60px;
  padding-bottom: 30px;

  @media (max-width: 992px) {
    text-align: center;
  }

  a {
    color: inherit;

    transition: color .25s ease;

    &:is(:hover, :focus) {
      color: var(--color-secondary);
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;

  gap: 20px;

  padding-inline: 30px;

  @media (max-width: 992px) {
    display: block;
    justify-content: initial;
  }
}
