//
/// Hide visually but still be available to screenreaders
/// @group Main
/// @example @include visually-hidden;
//

/*
 * 1. For long content, line feeds are not interpreted as spaces and small width causes content to wrap 1 word per line.
*/

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  white-space: nowrap; // [1]
}

// Undo visually hidden styles
@mixin undo-visually-hidden {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}
