// Base > Root Variables
//

// colors
:root {
  --accent: hsl(109, 31%, 56%);

  --dark: hsl(30, 5%, 15%);
  --dark-jungle-green: hsl(188, 63%, 7%);

  --raisin-black-1: hsl(227, 29%, 13%);
  --raisin-black-2: hsl(229, 17%, 19%);

  --yellow-green: hsl(89, 72%, 45%);
  --orange-soda: hsl(9, 100%, 62%);

  --cultured-1: hsl(0, 0%, 93%);
  --cultured-2: hsl(192, 24%, 96%);

  --misty-rose: hsl(7, 56%, 91%);
  --alice-blue: hsl(210, 100%, 97%);
  --seashell: hsl(8, 100%, 97%);

  --cadet: hsl(200, 15%, 43%);
  --opal: hsl(180, 20%, 62%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

// typography
:root {
  --ff-roboto: 'Roboto', sans-serif;
  --ff-montserrat: 'Montserrat', sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: .875rem;
  --fs-6: .813rem;
  --fs-7: .75rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  @media (min-width: 600px) {
    --fs-2: 1.875rem;
  }


  @media (min-width: 768px) {
    --fs-1: 2.5rem;
    --fs-5: .938rem;
    --fs-6: .875rem;
  }

  @media (min-width: 992px) {
    --fs-1: 3.125rem;
    --fs-4: 1.375rem;
  }

  @media (min-width: 1200px) {
    --fs-2: 2.75rem;
    --fs-4: 1.5rem;
  }
}

// transition
:root {
  --transition: .25s ease;
}

// spacing
:root {
  --section-padding: 60px;
}

// shadow
:root {
  --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, .1);
  --shadow-2: 0 16px 32px hsla(188, 63%, 7%, .1);
}
